@import "../../index.scss";

.contactUsMainDiv {
    position: absolute;
    height: 92.2%; // max-height: 93%;
    width: 100vw;
    max-width: 100vw; // overflow: hidden;
    // margin-top: 56px;
}

.contactUsSection1 {
    display: block;
    height: 70%;
    width: 100%;
    text-align: center;
    background-color: $backgroundColorDarkGreen;
    // background-image: url('../../assets/homeBackground.jpg');
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}

.contactUsSection2 {
    display: block;
    height: 30%;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
}

.overlappedFormSection {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 15%;
    left: 15%;

    .formSection {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .formLeftPart {
        height: 100%;
        background-color: $backgroundColorGrey;
        padding-top: 4%;
        padding-left: 4%;
    }
    
    .formRightPart {
        height: 100%;
        padding-top: 4%;
        padding-left: 4%;

        .rightHeading {
            font-weight: 800;
            font-size: 23px;
            margin-bottom: 5%;
        }
        
        .formTextField input {
            color: green;
        }
        
        .formRow {
            margin-bottom: 5%;
        }
    }

    .heading {
        font-weight: 800;
        font-size: 23px;
        margin-bottom: 10%;
    }
    
    .content {
        font-size: 13px;
    }
    
    .address {
        margin-top: -2%;
        margin-bottom: 8%;
        
    }
    
    .phone {
        margin-bottom: 8%;
        
    }
    
    .email {

    }
}

.whiteDotMarker {
    float: left;
    margin-right: 5%;
    height: 20px;
    width: 20px;
    // background-color: $backgroundColorGrey;
    // border: 1px solid #acacac;
    // border-radius: 100%;
}