@import "../../index.scss";

.faqsMainDiv {
    position: absolute;
    height: 93vh; // max-height: 93%;
    width: 100vw;
    max-width: 100vw; // overflow: hidden;
    margin-top: 7vh;
    text-align: center;
}

.sampleText{
    padding: 10%;
    height: 60%;
}