@import "../../index.scss";

.brandLogo {
    // vertical-align: middle;
}

.brandLogo:hover {
    cursor: pointer;
}

.brandName {
    // font-family: $primaryFont;
    font-weight: bold;
    font-size: 29px;
    color: $textBlack;
}