@import "../../index.scss";
.projectsMainDiv {
    position: absolute;
    height: 93vh; // max-height: 93%;
    width: 100vw;
    max-width: 100vw; // overflow: hidden;
    margin-top: 7vh;
    text-align: center;
}

.projects {
    padding: 2% 2%;
    min-height: 48.5%;
}

.project {
    width: 100%;
    max-height: 38%;
    margin: 1%;
}