@import "../../index.scss";

.homeMainDiv {
    position: absolute;
    height: 92.2%; // max-height: 93%;
    width: 100vw;
    max-width: 100vw; // overflow: hidden;
    // margin-top: 56px;
}

.homeSection {
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 30px;
}

.homeSectionSmall {
    margin: 0;
    height: 40%;
    width: 100%;
}

.section1 {
    display: block;
    height: 100%;
    text-align: center;
}

.partnerLogoSection {
    display: block;
    height: 100%;
    text-align: center;

    .partnerLogoTitle {
        font-size: 30px;
        font-weight: bold;
    }
}

.section1Container {
    position: relative;
    top: 25%;

    .section1Data {
        font-weight: normal;
    }
}

.contactUsButtonContainer {
    position: relative;
    top: 40%;

    .section1Data {
        font-weight: normal;
    }
}

.supportedByContainer {
    position: relative;
}

.homeSectionHeader {
    font-size: 36px;
    font-weight: bold;
}

.section1Text {
    font-size: 18px;
    font-weight: bold;
}

.section2 {
    height: 100%;
    padding: 5%;
}

.backgroundGreen {
    background-color: $backgroundColorGreen;
}

.backgroundDarkGreen {
    background-color: $backgroundColorDarkGreen;
}

.section2Image {
    position: relative;
    height: 60%;
    width: 60%;
    background-color: #FFFFFF;
    border: 4px solid $backgroundColorBlue;
}

.imageOnBack {}

.imageOnFront {
    margin-top: -17%;
    margin-left: 25%;
}

.section3 {
    height: 100%;
    padding: 5%;

    .section3Big {
        font-size: 12px;
        background-color: $backgroundColorGrey;
        border-radius: 5px;
        margin: 3%;
    }

    .section3Small {
        font-size: 12px;
        background-color: $backgroundColorGrey;
        border-radius: 5px;
        margin-bottom: 2px;

        .text {
            padding: 2%;
        }
    }
}

.section4 {
    display: grid;
    align-items: center;
    height: 100%;
    color: white;
}

.sectionTitle {
    margin: 2%;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.sectionSubTitle {
    margin: 1%;
    font-size: 20px;
    text-align: left;
}

.sectionText {
    margin: 1%;
    font-size: 12px;
    text-align: justify;
}

.section4Details {
    text-align: center;
}

.detailsHeader {
    font-size: 15px;
    line-height: 2;
}

.detailsText {
    font-size: 50px;
    font-weight: bold;
}