@import "../../index.scss";

.aboutUsMainDiv {
    position: absolute;
    height: 92.2%; // max-height: 93%;
    width: 100vw;
    max-width: 100vw; // overflow: hidden;
    // margin-top: 56px;
}

.aboutUsSection1 {
    padding: 5%;
    height: 100%;
}

.aboutUsSection2 {
    padding: 5%;
    height: 50%;
    // background-color: $backgroundColorBlue;
}

.aboutUsSection3 {
    padding: 5%;
    height: 100%;
}

.aboutUsSectionHeader {
    font-size: 42px;
    font-weight: bold;
    color: $textBlack;
}

.sectionSubHeader {
    font-size: 24px;
    color: $textGrey;
}

.sectionParagraph {
    font-size: 16px;
    // Increase size to 24 only for Mission and Vission
}

.sectionImage {
    margin: 5%;
    height: 90%;
    width: 90%;
}

.displayPictures {
    img {
        height: 150px;
        width: 150px;
        border-radius: 25%;
    }
}

.displayNames {
    margin-top: 5%;
    font-size: 18px;

    .titles {
        font-size: 24px;
        font-weight: bold;
    }
}