.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.contentSection {
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.strictWidth {
  width: 1240px;
}


@media only screen and (min-width: 1280px) {
  .strictWidth {
      width: 1240px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 992px) {
  .strictWidth {
      width: 952px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .strictWidth {
      width: 728px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .strictWidth {
      width: 560px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 375px) {
  .strictWidth {
      width: 355px;
  }
}
