$primaryFont: "Roboto";
$secondaryFont: "Roboto";

$textBlack: #1D1D1D;
$textGrey: #939393;
$textWhite: #FFFFFF;

$backgroundColorDarkGreen: #a9d18e;
$backgroundColorGreen: #a9d18e10;
$backgroundColorGrey: #F4F4F4;
$backgroundColorBlue: #F3F7F8;
$backgroundColorBlack: #333333;