@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Black.ttf');
  src: url('assets/fonts/Roboto-Black.ttf') format('ttf');
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.row {
  margin-left: 0;
  margin-right: 0;
}