@import "../../index.scss";

.header {
    // position: fixed;
    display: flex;
    // width: 100vw;
    // max-width: 100vw;
    height: 56px;
    // margin-top: 0.2vh;
    align-items: center;
    z-index: 1000;
}

.navigator {
    margin: 1% 3%;
    max-width: 16.667%;
}

.navigator:hover {
    cursor: pointer;
}

.navigatorText {
    // font-family: $secondaryFont;
    // font-weight: bold;
    font-size: 16px;
    color: $textGrey;
}