@import "../../index.scss";

.footer {
    height: 220px;
    color: white;
    // font-family: $primaryFont;
    background-color: #333333;
}

.footerMain {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 80%;
}

.companyName {
    font-size: 20px;
}

.footerDetails {
    text-align: left;
}

.footerReservedText{
    height: 10%;
    display: grid;
    margin-left: 2%;
    // text-align: center;
}