@import "../../index.scss";

.productsMainDiv {
    position: absolute;
    height: 92.2%; // max-height: 93%;
    width: 100vw;
    max-width: 100vw; // overflow: hidden;
    // margin-top: 56px;
}

.productsSection1 {
    padding: 10%;
    height: 100%;
}

.productsSection2 {
    padding: 10%;
    height: 100%;
    background-color: $backgroundColorBlue;
}

.productsSection3 {
    padding: 10%;
    height: 100%;
}

.sectionHeader {
    font-size: 50px;
    font-weight: bold;
    color: $textBlack;
}

.sectionSubHeader {
    font-size: 40px;
    color: $textGrey;
}

.sectionParagraph {
    font-size: 16px;
}

.sectionImage {
    margin: 5%;
    height: 90%;
    width: 90%;
}

.carousel-inner img {
    margin: auto;
}

#thumbcarousel .active {
    border: 2px solid black;
}

.thumb{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.title {
    padding-left: 2%;
    font-weight: 700;
    border-bottom: 1px solid gray;
}

.productsContent {
    padding: 2%;
}

.descriptionBox {
    width: 90%;
    margin-left: 2%;
    margin-top: 2%;
}

.productsContent {
    margin-top: 2%;
}

.carousel-control-prev {
    color: black;
}

.carousel-control-next {
    color: black;
}